<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=506_23;Initial Catalog=HRManage;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
